numpy
pandas
scikit-learn
matplotlib
seaborn
joblib
pyyaml
boto3
python-dotenv
imbalanced-learn
pydantic
langchain-core
ensure
python-box
fastapi
uvicorn
python-multipart
mlflow
chardet
dagshub
dvc
httpx
typing_extensions
botocore
